<div class="appContainer">
    <div class="appNav">
        <div class="logo">
            <h1>Festiv'App</h1>
            <img class="topBackground" src="../../../assets/backgrounds/cassetteBackground.webp">
        </div>
        <div class="profileContainer">
            <button class="profileButton" (click)="onProfileClick()" mat-flat-button>
                <img [src]="currentImage" class="profileImage">
                <span>{{currentUsername}}</span></button>
            <button class=" logOutButton" (click)="onLogoutClick()" mat-flat-button>Log Out</button>
            <app-profile [show]="profileShowState()" [randomProfileSetter]="currentRandomImageProfile"
                (isProfile)="checkIsUpdated($event)">
            </app-profile>
        </div>
    </div>
    <div class="postFeedContainer">
        <app-post *ngFor="let post of posts" [postData]="post" [currentUsername]="currentUsername"
            [currentImage]="currentImage">
        </app-post>
    </div>
    <button (click)="onPostButtonClick()" mat-flat-button color="accent" class="postButton">
        +
    </button>
</div>