@font-face {
  font-family: "sfLogo";
  src: url("./SFPRODISPLAYBLACKITALIC.OTF");
}
@font-face {
  font-family: "sfGrey";
  src: url("./SFPRODISPLAYLIGHTITALIC.OTF");
}
@font-face {
  font-family: "sfTitle";
  src: url("./SFPRODISPLAYMEDIUM.OTF");
}
@font-face {
  font-family: "sfText";
  src: url("./SFPRODISPLAYREGULAR.OTF");
}
