<div class="homeContainer">
    <div class="contentContainer">
        <div class="landingContent">
            <h1>Festiv'App</h1>
            <P>Avec Festiv'App, partagez autour de vos festivals preferés.</P>
        </div>
        <div class="landingConnexion">
            <app-authenticator></app-authenticator>
        </div>
    </div>
    <div class="backgroundContainer">
        <img class="topBackground" src="../../../assets/backgrounds/cassetteBackground.webp" alt="background">
        <img class="bottomBackground" src="../../../assets/backgrounds/handsBackground.webp" alt="background">
    </div>
</div>