<div class="authContainer">
    <mat-card class="authContent">
        <h2> Welcome back !</h2>
        <h3>{{getHeaderText()}}</h3>
        <div *ngIf="isInLogin()">
            <input #loginEmail placeholder="Email">
            <input #loginPassword type="password" placeholder="Password">
            <button (click)="onLogingIn(loginEmail,loginPassword)" mat-raised-button color="accent"> LOGIN</button>
        </div>
        <div *ngIf="isInRegister()">
            <input #registerEmail placeholder="Email">
            <input #registerPassword type="password" placeholder="Password">
            <input #registerConfirmPassword type="password" placeholder="Confirm password">
            <button mat-raised-button color="accent"
                (click)="onRegisterClick(registerEmail,registerPassword,registerConfirmPassword)">REGISTER</button>
        </div>
        <div *ngIf="isInForgotPassword()">
            <input #resetEmail placeholder="Email">
            <button (click)="onResetPassword(resetEmail)" mat-raised-button color="accent">RESET</button>
        </div>
        <mat-card-actions class="loginStatesContainer">
            <button *ngIf="!isInForgotPassword()" (click)="onForgotPasswordClick()" mat-flat-button>Forgot
                Password ?</button>
            <button *ngIf="!isInRegister()" (click)="onCreateAccountClick()" mat-flat-button>Create an account</button>
            <button *ngIf="!isInLogin()" (click)="onLoginClick()" mat-flat-button>Login</button>
        </mat-card-actions>
    </mat-card>
</div>