<div class="profileContainer" [ngClass]="{'active': show, 'notActive':!show}">
    <div class="profileContent">
        <img src="../../../assets/icons/closeIcon.svg" class="closeIcon" (click)="onCloseProfile()">
        <label for="file" class="profileImageContainer">
            <input type="file" id="file" (change)="handleFileInput($event)" />
            <span>Upload avatar</span>
            <img [src]="currentImage" class="image-preview">
        </label>
        <input #nameInput [placeholder]="currentUsername" required>
        <textarea #descriptionInput [placeholder]="currentDescription"></textarea>
        <button mat-flat-button color="accent" (click)="onSaveProfile(nameInput,descriptionInput)">Save
            profile</button>
    </div>
</div>