.postContainer {
  width: 38vw;
  min-width: 350px;
  margin-bottom: 2rem;
  .postHeaderContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.75rem;
    .profileImage {
      height: 3rem;
      width: 3rem;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 0.75rem;
      pointer-events: none;
    }
    .postTitle {
      background: transparent;
      color: black;
      font-family: sfLogo;
      font-size: 1.5rem;
      text-transform: capitalize;
      margin: 0 0.5rem;
    }
  }
  img {
    object-fit: cover;
    object-position: center;
  }
  .postContent {
    font-family: sfText;
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  .postActionsContainer {
    display: flex;
    align-items: center;
    .postActionItem {
      margin-left: 1rem;
      cursor: pointer;
      padding: 0;
      width: 2rem;
      display: flex;
      min-width: 2rem;
      justify-content: center;
      .likeCount {
        font-family: sfTitle;
        font-size: 1.2rem;
      }
      img {
        height: 2rem;
      }
      &.postActionItem:first-child {
        margin-left: 0.5rem;
      }
    }
  }
}
