<mat-card class="postContainer">
    <div class="postHeaderContainer">
        <img [src]="postData.imageProfile" class="profileImage">
        <h2 class="postTitle">{{postData.creatorUsername}}</h2>
    </div>
    <img mat-card-image [src]="postData?.imageUrl">
    <mat-card-content class="postContent" *ngIf="postData.postContent">
        {{postData.postContent}}
    </mat-card-content>
    <mat-card-actions class="postActionsContainer">
        <button mat-flat-button class="postActionItem">
            <img (click)="onCommentClick()" class="commentClickAction" (mouseover)="commentIcon='addCommentIcon'"
                (mouseout)="commentIcon='defaultCommentIcon'" src="../../../assets/icons/{{commentIcon}}.svg">
        </button>
        <button mat-flat-button class="postActionItem">
            <img (click)="onLikeClick()" (mouseover)="likeIcon=removeAddLikeIcon"
                (mouseout)="likeIcon='defaultLikeIcon'" class="likeClickAction"
                src="../../../assets/icons/{{likeIcon}}.svg">
            <span class="likeCount">{{allLikes}}</span>
        </button>
    </mat-card-actions>
</mat-card>