<div class="commentsContainer">
    <h2>Comments</h2>
    <div class="commentsContentContainer">
        <div *ngFor="let comment of comments" class="commentContainer"
            [ngClass]="{'creatorCommentContainer' : isCommentCreator(comment)}">
            <img class="creatorImageProfile" [src]="comment.creatorImageProfileUrl">
            <div class="creatorInfoContainer">
                <h3 class="creatorCommentName">{{comment.creatorUsername}}</h3>
                <p [ngClass]="{comment: true}">{{comment.comment}}</p>
            </div>
        </div>
    </div>
    <div class="commentsActionsButtonsContainer">
        <textarea placeholder="Comment..." class="commentContent" maxlength="150" #commentContent></textarea>
        <button mat-flat-button color="accent" class="sendButton" (click)="onSendClick(commentContent)">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>